force-app/main/default/flows/Calculate_POLI_Unit_Cultivation_Tax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Brand_Quote_Line__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Shipment Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Calculate POLI CTI</label>
        </rules>
    </decisions>
    <description>Calculate POLI Unit Cultivation Tax</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Round(IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_2__c  , &apos;Flower&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;GM&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_2__c * 9.65/28.35 * [Purchase_Order_Line__c].Cannabis_Ratio_2__c , IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_2__c , &apos;Flower&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;OZ&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_2__c * 9.65 *[Purchase_Order_Line__c].Cannabis_Ratio_2__c, 
IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_2__c , &apos;Flower&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;LB&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_2__c * 154.4 *[Purchase_Order_Line__c].Cannabis_Ratio_2__c, 
IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_2__c , &apos;Leaves&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c, &quot;GM&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_2__c * 2.87/28.35 *[Purchase_Order_Line__c].Cannabis_Ratio_2__c, IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_2__c , &apos;Leaves&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;OZ&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_2__c  * 2.87 *[Purchase_Order_Line__c].Cannabis_Ratio_2__c, 
IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_2__c , &apos;Leaves&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;LB&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_2__c * 45.92 *[Purchase_Order_Line__c].Cannabis_Ratio_2__c, 
IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_2__c , &apos;Fresh&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;GM&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_2__c * 1.35/28.35 *[Purchase_Order_Line__c].Cannabis_Ratio_2__c, IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_2__c , &apos;Fresh&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;OZ&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_2__c * 1.35 *[Purchase_Order_Line__c].Cannabis_Ratio_2__c, 
IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_2__c , &apos;Fresh&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;LB&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_2__c * 21.60 *[Purchase_Order_Line__c].Cannabis_Ratio_2__c, Null))))))))),2)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_4558359894</name>
        <dataType>Currency</dataType>
        <expression>Round(IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_2__c}  , &apos;Flower&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;GM&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_2__c} * 9.65/28.35 * {!myVariable_current.Cannabis_Ratio_2__c} , IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_2__c} , &apos;Flower&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;OZ&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_2__c} * 9.65 *{!myVariable_current.Cannabis_Ratio_2__c}, 
IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_2__c} , &apos;Flower&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;LB&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_2__c} * 154.4 *{!myVariable_current.Cannabis_Ratio_2__c}, 
IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_2__c} , &apos;Leaves&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c}, &quot;GM&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_2__c} * 2.87/28.35 *{!myVariable_current.Cannabis_Ratio_2__c}, IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_2__c} , &apos;Leaves&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;OZ&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_2__c}  * 2.87 *{!myVariable_current.Cannabis_Ratio_2__c}, 
IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_2__c} , &apos;Leaves&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;LB&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_2__c} * 45.92 *{!myVariable_current.Cannabis_Ratio_2__c}, 
IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_2__c} , &apos;Fresh&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;GM&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_2__c} * 1.35/28.35 *{!myVariable_current.Cannabis_Ratio_2__c}, IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_2__c} , &apos;Fresh&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;OZ&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_2__c} * 1.35 *{!myVariable_current.Cannabis_Ratio_2__c}, 
IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_2__c} , &apos;Fresh&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;LB&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_2__c} * 21.60 *{!myVariable_current.Cannabis_Ratio_2__c}, Null))))))))),2)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ROUND(IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_1__c  , &apos;Flower&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;GM&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_1__c * 9.65/28.35 * [Purchase_Order_Line__c].Cannabis_Ratio_1__c , IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_1__c , &apos;Flower&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;OZ&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_1__c * 9.65 *[Purchase_Order_Line__c].Cannabis_Ratio_1__c, 
IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_1__c , &apos;Flower&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;LB&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_1__c * 154.4 *[Purchase_Order_Line__c].Cannabis_Ratio_1__c, 
IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_1__c , &apos;Leaves&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c, &quot;GM&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_1__c * 2.87/28.35 *[Purchase_Order_Line__c].Cannabis_Ratio_1__c, IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_1__c , &apos;Leaves&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;OZ&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_1__c  * 2.87 *[Purchase_Order_Line__c].Cannabis_Ratio_1__c, 
IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_1__c , &apos;Leaves&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;LB&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_1__c * 45.92 *[Purchase_Order_Line__c].Cannabis_Ratio_1__c, 
IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_1__c , &apos;Fresh&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;GM&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_1__c * 1.35/28.35 *[Purchase_Order_Line__c].Cannabis_Ratio_1__c, IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_1__c , &apos;Fresh&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;OZ&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_1__c * 1.35 *[Purchase_Order_Line__c].Cannabis_Ratio_1__c, 
IF(AND(ISPICKVAL([Purchase_Order_Line__c].Cannabis_Category_1__c , &apos;Fresh&apos;), 
CONTAINS([Purchase_Order_Line__c].Cannabis_Weight_UOM__c , &quot;LB&quot;), 
CONTAINS([Purchase_Order_Line__c].Apply_Cultivation_Tax__c, &quot;Yes&quot;)), 
[Purchase_Order_Line__c].Unit_Cannabis_Weight_1__c * 21.60 *[Purchase_Order_Line__c].Cannabis_Ratio_1__c, Null))))))))) ,2)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_9773637687</name>
        <dataType>Currency</dataType>
        <expression>ROUND(IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_1__c}  , &apos;Flower&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;GM&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_1__c} * 9.65/28.35 * {!myVariable_current.Cannabis_Ratio_1__c} , IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_1__c} , &apos;Flower&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;OZ&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_1__c} * 9.65 *{!myVariable_current.Cannabis_Ratio_1__c}, 
IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_1__c} , &apos;Flower&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;LB&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_1__c} * 154.4 *{!myVariable_current.Cannabis_Ratio_1__c}, 
IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_1__c} , &apos;Leaves&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c}, &quot;GM&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_1__c} * 2.87/28.35 *{!myVariable_current.Cannabis_Ratio_1__c}, IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_1__c} , &apos;Leaves&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;OZ&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_1__c}  * 2.87 *{!myVariable_current.Cannabis_Ratio_1__c}, 
IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_1__c} , &apos;Leaves&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;LB&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_1__c} * 45.92 *{!myVariable_current.Cannabis_Ratio_1__c}, 
IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_1__c} , &apos;Fresh&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;GM&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_1__c} * 1.35/28.35 *{!myVariable_current.Cannabis_Ratio_1__c}, IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_1__c} , &apos;Fresh&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;OZ&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_1__c} * 1.35 *{!myVariable_current.Cannabis_Ratio_1__c}, 
IF(AND(ISPICKVAL({!myVariable_current.Cannabis_Category_1__c} , &apos;Fresh&apos;), 
CONTAINS({!myVariable_current.Cannabis_Weight_UOM__c} , &quot;LB&quot;), 
CONTAINS({!myVariable_current.Apply_Cultivation_Tax__c}, &quot;Yes&quot;)), 
{!myVariable_current.Unit_Cannabis_Weight_1__c} * 21.60 *{!myVariable_current.Cannabis_Ratio_1__c}, Null))))))))) ,2)</expression>
        <scale>18</scale>
    </formulas>
    <interviewLabel>Calculate_POLI_Unit_Cultivation_Tax-7_InterviewLabel</interviewLabel>
    <label>Calculate POLI Unit Cultivation Tax V1.5</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Purchase_Order_Line__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Purchase_Order_Line__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update UCT field 1</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Cannabis Category 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Cannabis_Category_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Cannabis Ratio 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Cannabis_Ratio_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Unit Cannabis Weight 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Unit_Cannabis_Weight_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Unit Cultivation Tax 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Unit_Cultivation_Tax_1__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_9773637687</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Purchase_Order_Line__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update UCT fields 2</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Unit Cultivation Tax 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Unit_Cultivation_Tax_2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Cannabis Ratio 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Cannabis_Ratio_2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Unit Cannabis Weight 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Unit_Cannabis_Weight_2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Unit Cultivation Tax 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Unit_Cultivation_Tax_2__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_4558359894</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Line__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Purchase_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line__c</objectType>
    </variables>
</Flow>
