force-app/main/default/flows/Calculate_POLI_Cultivation_Tax_V1_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>When_Cultivation_Tax_Fields_Flow</name>
        <label>When Cultivation Tax Fields Flow</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Cultivation_Tax_Fieldss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cannabis_Category_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Cannabis_Weight_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cannabis_Ratio_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Cultivation_Tax_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cannabis_Category_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Cannabis_Weight_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cannabis_Ratio_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Cultivation_Tax_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Product_Cultivation_Tax_Fields</targetReference>
            </connector>
            <label>When Cultivation Tax Fieldss</label>
        </rules>
    </decisions>
    <interviewLabel>Calculate POLI Cultivation Tax V1.2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate POLI Cultivation Tax</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Map_Product_Cultivation_Tax_Fields</name>
        <label>Map Product Cultivation Tax Fields</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Cannabis_Category_1__c</field>
            <value>
                <elementReference>$Record.Product_Name__r.Cannabis_Category_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cannabis_Category_2__c</field>
            <value>
                <elementReference>$Record.Product_Name__r.Cannabis_Category_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cannabis_Ratio_1__c</field>
            <value>
                <elementReference>$Record.Product_Name__r.Cannabis_Ratio_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cannabis_Ratio_2__c</field>
            <value>
                <elementReference>$Record.Product_Name__r.Cannabis_Ratio_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Cannabis_Weight_1__c</field>
            <value>
                <elementReference>$Record.Product_Name__r.Unit_Cannabis_Weight_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Cannabis_Weight_2__c</field>
            <value>
                <elementReference>$Record.Product_Name__r.Unit_Cannabis_Weight_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>When_Cultivation_Tax_Fields_Flow</targetReference>
        </connector>
        <object>Purchase_Order_Line__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
