force-app/main/default/flows/Create_InventoryPosition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Qty_to_Receive_Decision</name>
        <label>Qty to Receive Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qty_to_Receive</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Qty_to_Receive__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_Order_Line__r.Purchase_Order__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_Order_Line__r.Purchase_Order__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Name__r.Auto_Receive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inventory_Position_record</targetReference>
            </connector>
            <label>Qty to Receive</label>
        </rules>
    </decisions>
    <interviewLabel>Create Inventory Position {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create InventoryPosition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inventory_Position_record</name>
        <label>Create Inventory Position record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Harvest_Batch_Code__c</field>
            <value>
                <elementReference>$Record.Harvest_Batch_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Location__c</field>
            <value>
                <elementReference>$Record.Inventory_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Test_Status__c</field>
            <value>
                <elementReference>$Record.Lab_Test_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership__c</field>
            <value>
                <elementReference>$Record.Ownership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>$Record.Product_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Title__c</field>
            <value>
                <elementReference>$Record.Product_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty_On_Hand__c</field>
            <value>
                <elementReference>$Record.Qty_to_Receive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiving_Line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UID_New__c</field>
            <value>
                <elementReference>$Record.UID_New__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Qty_to_Receive_Decision</targetReference>
        </connector>
        <object>Receiving_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
