force-app/main/default/flows/Debt_Collection_Assignment_to_Brand.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_DebtCollection_Assignment_to_Brand_Contact</name>
        <label>Email Alert DebtCollection Assignment to Brand Contact</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Debt_Collections__c.Email_Debt_Collection_Assignment_to_Brand_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_DebtCollection_Assignment_to_Brand</name>
        <label>Check DebtCollection Assignment to Brand</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Debt_Collection_Assignment_to_Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assign_to_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_DebtCollection_Assignment_to_Brand_Contact</targetReference>
            </connector>
            <label>Debt Collection Assignment to Brand</label>
        </rules>
    </decisions>
    <interviewLabel>Debt Collection Assignment to Brand {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Debt Collection Assignment to Brand</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_DebtCollection_Assignment_to_Brand</targetReference>
        </connector>
        <object>Debt_Collections__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
