force-app/main/default/flows/InvoiceCollection_Email_Helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Upon_Sending_Conga_Invoice_Email_Decision</name>
        <label>Upon Sending Conga Invoice Email Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upon_Sending_Conga_Invoice_Email</name>
            <conditionLogic>1 AND (2 OR 3 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Emailed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Emailed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Debt_Collection_Record</targetReference>
            </connector>
            <label>Upon Sending Conga Invoice Email</label>
        </rules>
    </decisions>
    <formulas>
        <name>LastWorkedDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>InvoiceCollection Email Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InvoiceCollection Email Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Debt_Collection_Record</name>
        <label>Create Debt Collection Record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Action_Code__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Effort_Level__c</field>
            <value>
                <stringValue>Cooperative</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debt_Collection_Status__c</field>
            <value>
                <stringValue>Reminder 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debtor_Contact__c</field>
            <value>
                <elementReference>$Record.Receiver_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Known_Contact_Phone_or_Mobile__c</field>
            <value>
                <elementReference>$Record.Receiver_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Worked_Date__c</field>
            <value>
                <elementReference>LastWorkedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Debt_Collections__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Upon_Sending_Conga_Invoice_Email_Decision</targetReference>
        </connector>
        <object>Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
