force-app/main/default/flows/new_Opportunity_Work_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Updated_By_Opportunity</name>
        <label>Updated By Opportunity</label>
        <locationX>876</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>Updating_Odrder_Status_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled by WOVN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Getting_Order_related_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updating_OrderLine_Status_record</name>
        <label>Updating OrderLine Status record</label>
        <locationX>620</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>Related_OrderLine_Item_Record.OrderLine_Status__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cancelled by WOVN</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>new Opportunity Work Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>new Opportunity Work Flow</label>
    <loops>
        <name>Related_OrderLine_Item_Record</name>
        <label>Related OrderLine Item Record</label>
        <locationX>880</locationX>
        <locationY>347</locationY>
        <collectionReference>Getting_Order_related_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Updating_OrderLine_Status_record</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Updating_Odrder_Status_Record</name>
        <label>Updating Odrder Status Record</label>
        <locationX>566</locationX>
        <locationY>43</locationY>
        <collectionReference>Getting_Related_Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Updated_By_Opportunity</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_Order_related_Record</name>
        <label>Getting Order related Record</label>
        <locationX>1078</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_OrderLine_Item_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Updating_Odrder_Status_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Related_Order_Records</name>
        <label>Getting Related Order Records</label>
        <locationX>201</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_Odrder_Status_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Updating_Odrder_Status_Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>80</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>Getting_Related_Order_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
