force-app/main/default/flows/New_IT_request_COMPLETE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Request Complete</description>
        <name>IT_OnBoarding_Request_COMPLETE</name>
        <label>IT OnBoarding Request - COMPLETE</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>IT_On_Boarding_Request__c.New_IT_Onboarding_Request_COMPLETE</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>New_IT_request_COMPLETED</name>
        <label>New IT request - COMPLETE</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>New_IT_request_COMPLETE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IT_Request_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_OnBoarding_Request_COMPLETE</targetReference>
            </connector>
            <label>New IT request - COMPLETE</label>
        </rules>
    </decisions>
    <interviewLabel>New IT request - COMPLETE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New IT request - COMPLETE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_IT_request_COMPLETED</targetReference>
        </connector>
        <object>IT_On_Boarding_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
