force-app/main/default/flows/Order_related_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>update_by_opportunity</name>
        <label>update by opportunity</label>
        <locationX>785</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>updating_order_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled by WOVN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updating_OrderLine_Item_record</name>
        <label>Updating OrderLine Item record</label>
        <locationX>536</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>Related_OrderLine_records.OrderLine_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled by WOVN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_OrderLine_Item</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp to closed Lost - Order and Order line status update V1.0</label>
    <loops>
        <name>Related_OrderLine_records</name>
        <label>Related OrderLine records</label>
        <locationX>780</locationX>
        <locationY>424</locationY>
        <collectionReference>Getting_order_related_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Updating_OrderLine_Item_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updating_order_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>updating_order_record</name>
        <label>updating order record</label>
        <locationX>542</locationX>
        <locationY>91</locationY>
        <collectionReference>Getting_Related_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_by_opportunity</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_order_related_rec</name>
        <label>Getting order related rec</label>
        <locationX>956</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_OrderLine_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>updating_order_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Related_Order</name>
        <label>Getting Related Order</label>
        <locationX>180</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updating_order_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_Opportunity</name>
        <label>Updating Opportunity</label>
        <locationX>1005</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Getting_order_related_rec</targetReference>
        </connector>
        <inputReference>updating_order_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_OrderLine_Item</name>
        <label>Updating OrderLine Item</label>
        <locationX>428</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Related_OrderLine_records</targetReference>
        </connector>
        <inputReference>Related_OrderLine_records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Getting_Related_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
