force-app/main/default/flows/PWO_Create_PWO_from_STL_Upon_Acceptance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Upon_Acceptance_of_STL_flow</name>
        <label>Upon Acceptance of STL flow</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>Upon_Acceptance_of_STL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Ticket__r.Transfer_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Conversions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Production_Work_Order</targetReference>
            </connector>
            <label>Upon Acceptance of STL</label>
        </rules>
    </decisions>
    <interviewLabel>PWO - Create PWO from STL Upon Acceptance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PWO - Create PWO from STL Upon Acceptance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Production_Work_Order</name>
        <label>Create Production Work Order</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Batch_ID_New__c</field>
            <value>
                <elementReference>$Record.Harvest_Batch_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_Packaging_Notes__c</field>
            <value>
                <elementReference>$Record.Spl_Packaging_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_Quote__c</field>
            <value>
                <elementReference>$Record.Brand_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Packaged_Product__c</field>
            <value>
                <elementReference>$Record.New_Packaged_Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership__c</field>
            <value>
                <elementReference>$Record.Service_Ticket__r.Brand_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Packaging_Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Ticket_Line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>$Record.Package_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <stringValue>a0e6A0000033X2sQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Units_New__c</field>
            <value>
                <elementReference>$Record.Converted_Single_Qty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Units_per_Case__c</field>
            <value>
                <elementReference>$Record.Qty_Per_Multi_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Production_Work_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Upon_Acceptance_of_STL_flow</targetReference>
        </connector>
        <object>Service_Ticket_Line__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
