force-app/main/default/flows/PWO_Service_Ticket_Line_sync_to_PWO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Service_Ticket_Line_Modified_Decision</name>
        <label>Service Ticket Line Modified Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Ticket_Line_Modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Ticket_Line_to_PWO_0</targetReference>
            </connector>
            <label>Service Ticket Line Modified</label>
        </rules>
    </decisions>
    <formulas>
        <name>LastModifefDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.LastModifiedDate})</expression>
    </formulas>
    <interviewLabel>PWO - Service Ticket Line sync to PWO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PWO - Service Ticket Line sync to PWO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Service_Ticket_Line_to_PWO_0</name>
        <label>Service Ticket Line to PWO</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Ticket_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Batch_ID_New__c</field>
            <value>
                <elementReference>$Record.Harvest_Batch_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_Packaging_Notes__c</field>
            <value>
                <elementReference>$Record.Spl_Packaging_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_Quote__c</field>
            <value>
                <elementReference>$Record.Brand_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Packaged_Product__c</field>
            <value>
                <elementReference>$Record.New_Packaged_Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Packaging_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>$Record.Package_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Units_New__c</field>
            <value>
                <elementReference>$Record.Converted_Single_Qty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Units_per_Case__c</field>
            <value>
                <elementReference>$Record.Qty_Per_Multi_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Production_Work_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Ticket_Line_Modified_Decision</targetReference>
        </connector>
        <object>Service_Ticket_Line__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
