force-app/main/default/flows/Shipping_Manifest_Line_Items_Field_Updates_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_for_Null_values_in_Flow</name>
        <label>Check for Null values in Flow</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Null_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipping_Manifest__r.Sales_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipping_Manifest__r.Order_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields_Order_Type_and_Sale_Person</targetReference>
            </connector>
            <label>Check for Null values</label>
        </rules>
    </decisions>
    <interviewLabel>Shipping Manifest Line Items Field Updates Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipping Manifest Line Items Field Updates Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Fields_Order_Type_and_Sale_Person</name>
        <label>Update Fields Order Type and Sale Person</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>$Record.Shipping_Manifest__r.Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Person__c</field>
            <value>
                <elementReference>$Record.Shipping_Manifest__r.Sales_Person__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipping_Manifest_Line__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Null_values_in_Flow</targetReference>
        </connector>
        <object>Shipping_Manifest_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
