force-app/main/default/flows/Shipping_manifest_Sales_Person_Order_Type_field_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_for_Null_Values_Decision</name>
        <label>Check for Null Values Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Null_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand_Quote__r.Sales_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand_Quote__r.Order_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Fields_Sales_Person_and_Order_Type</targetReference>
            </connector>
            <label>Check for Null Values</label>
        </rules>
    </decisions>
    <interviewLabel>Shipping manifest Sales Person &amp; Order Type field updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipping manifest Sales Person &amp; Order Type field update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_Fields_Sales_Person_and_Order_Type</name>
        <label>Update the Fields Sales Person and Order Type</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>$Record.Brand_Quote__r.Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Person__c</field>
            <value>
                <elementReference>$Record.Brand_Quote__r.Sales_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Null_Values_Decision</targetReference>
        </connector>
        <object>Shipping_Manifest__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
