force-app/main/default/flows/Supplier_Bill_Helper_V1_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Evaluates_for_Supplier_Bill_Checkbox_Conditions</name>
        <label>Evaluates for Supplier Bill Checkbox Conditions</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>Evaluates_for_Supplier_Bill_Checkbox_Condition_1</name>
            <conditionLogic>1 and 2 and (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Supplier_Bill__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invoice_Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Factoring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Supplier_Bill</targetReference>
            </connector>
            <label>Evaluates for Supplier Bill Checkbox Condition 1</label>
        </rules>
        <rules>
            <name>Evaluates_for_Supplier_Bill_Checkbox_Condition_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Supplier_Bill__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Eligible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Supplier_Bill_2</targetReference>
            </connector>
            <label>Evaluates for Supplier Bill Checkbox Condition 2</label>
        </rules>
    </decisions>
    <formulas>
        <name>Bill_Due_date_formula_new</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Goods_Receipt_Closed_Date__c} + CASE({!$Record.Payment_Terms__c}, &apos;COD&apos;, 0, &apos;NET 5&apos;, 5, &apos;NET 10&apos;, 10, &apos;NET 14&apos;, 14, &apos;NET 15&apos;, 15, &apos;NET 21&apos;, 21, &apos;NET 30&apos;, 30, &apos;NET 45&apos;, 45, &apos;NET 60&apos;, 60, &apos;NET 77&apos;, 77, &apos;NET 90&apos;, 90, &apos;NET 120&apos;, 120, 0)</expression>
    </formulas>
    <interviewLabel>Supplier Bill Helper V1.1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supplier Bill Helper V1.1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Supplier_Bill</name>
        <label>Create Supplier Bill</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_PO_Bill_Created_flag_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_Amount__c</field>
            <value>
                <elementReference>$Record.Total_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_Due_Date__c</field>
            <value>
                <elementReference>$Record.Next_Payable_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_Quote__c</field>
            <value>
                <elementReference>$Record.Brand_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chart_of_Account__c</field>
            <value>
                <elementReference>$Record.Chart_of_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_or_Service__c</field>
            <value>
                <elementReference>$Record.Customer_PO_or_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership__c</field>
            <value>
                <elementReference>$Record.Ownership__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>$Record.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123s000000JSIu</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Terms__c</field>
            <value>
                <elementReference>$Record.Shipping_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Name__c</field>
            <value>
                <elementReference>$Record.Supplier_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Bill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Supplier_Bill_2</name>
        <label>Create Supplier Bill 2</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_PO_Bill_Create_Flag_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_Amount__c</field>
            <value>
                <elementReference>$Record.Total_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_Due_Date__c</field>
            <value>
                <elementReference>Bill_Due_date_formula_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_Quote__c</field>
            <value>
                <elementReference>$Record.Brand_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chart_of_Account__c</field>
            <value>
                <elementReference>$Record.Chart_of_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_or_Service__c</field>
            <value>
                <elementReference>$Record.Customer_PO_or_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership__c</field>
            <value>
                <elementReference>$Record.Ownership__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>$Record.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123s000000JSIu</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Terms__c</field>
            <value>
                <elementReference>$Record.Shipping_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Name__c</field>
            <value>
                <elementReference>$Record.Supplier_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Bill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_PO_Bill_Create_Flag_2</name>
        <label>Update PO Bill Create Flag 2</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Bill_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Bill_Created_flag_1</name>
        <label>Update PO Bill Created flag 1</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Bill_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluates_for_Supplier_Bill_Checkbox_Conditions</targetReference>
        </connector>
        <object>Purchase_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SupplierBillRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Supplier_Bill__c</objectType>
    </variables>
    <variables>
        <name>SupplierBillRecord_check</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Supplier_Bill__c</objectType>
    </variables>
</Flow>
