force-app/main/default/flows/Test_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Evaluate_for_0_Balance_Flow</name>
        <label>Evaluate for $0 Balance FLow</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Evaluate_for_0_Balances</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outstanding_Balance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supplier_Bill_Status</targetReference>
            </connector>
            <label>Evaluate for $0 Balance</label>
        </rules>
        <rules>
            <name>Evaluates_for_0</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outstanding_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outstanding_Balance__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supplier_Bill</targetReference>
            </connector>
            <label>Evaluates for &gt; $0</label>
        </rules>
    </decisions>
    <formulas>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>Null</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Test Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Purchase_Order</name>
        <label>Update Purchase Order</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PO_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>PO_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Supplier_Payment_Settled_Date__c</field>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Purchase_Order_Status</name>
        <label>Update Purchase Order Status</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PO_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Eligible__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PO_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Supplier_Payment_Settled_Date__c</field>
            <value>
                <elementReference>$Record.Bill_Settled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supplier_Bill</name>
        <label>Update Supplier Bill</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Purchase_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_Settled_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supplier_Bill_Status</name>
        <label>Update Supplier Bill</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Purchase_Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_Settled_Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_for_0_Balance_Flow</targetReference>
        </connector>
        <object>Supplier_Bill__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
