force-app/main/default/flows/Update_Box_count_from_Picklist_to_Ship_Manifest_Create_Only_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Picklist_value_is_null_or_not_Flow</name>
        <label>Check Picklist value is null or not Flow</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Picklist_value_is_null_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Picklist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Box_Count</targetReference>
            </connector>
            <label>check Picklist value is null or not</label>
        </rules>
    </decisions>
    <interviewLabel>Update Box count from Picklist to Ship Manifest -- Create Only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Box count from Picklist to Ship Manifest -- Create Only Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Box_Count</name>
        <label>Update Box Count</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Box_Count__c</field>
            <value>
                <elementReference>$Record.Picklist__r.Box_Count__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipping_Manifest__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Picklist_value_is_null_or_not_Flow</targetReference>
        </connector>
        <object>Shipping_Manifest__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
