force-app/main/default/flows/Vehicle_Tag_Expiration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>First_Notice_Vehicle_Tag_Expiration_0_0</name>
        <label>First Notice - Vehicle Tag Expiration</label>
        <locationX>594</locationX>
        <locationY>462</locationY>
        <actionName>Vehicles__c.First_Notification_Vehicle_Tag_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Second_Notice_Vehicle_Tag_Expiration_0_0</name>
        <label>Second Notice - Vehicle Tag Expiration</label>
        <locationX>848</locationX>
        <locationY>336</locationY>
        <actionName>Vehicles__c.Second_Notification_Vehicle_Tag_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Vehicle Tag Expiration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vehicle Tag Expiration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tag_Expiration_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Vehicles__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>First_Notification_Vehicle_Tag_Expiration</name>
            <connector>
                <targetReference>First_Notice_Vehicle_Tag_Expiration_0_0</targetReference>
            </connector>
            <label>First_Notification_Vehicle_Tag_Expiration</label>
            <offsetNumber>-30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Tag_Expiration_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Second_Notification_Vehicle_Tag_Expiration</name>
            <connector>
                <targetReference>Second_Notice_Vehicle_Tag_Expiration_0_0</targetReference>
            </connector>
            <label>Second Notification - Vehicle Tag Expiration</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Tag_Expiration_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
